[access]
	inheritFrom = Public-Projects
[submit]
	action = inherit
[access "refs/*"]
	owner = group google/gerritcodereview-maintainers@googlegroups.com
[project]
	description = Gerrit User Summit 2021
[access "refs/for/refs/heads/*"]
	push = group Registered Users
[access "refs/heads/master"]
	label-Code-Review = -1..+1 group Registered Users
